/* customization for bootstrap card */
.progress__container {
  height: 100%;
  flex: 1;
}

.progress__body {
  height: 100%;
  &--contents {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  &--title {
    color: #fff;
    padding: 0.8rem;
  }
}